body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20,20,30);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
form {
    background-color: rgb(67,67,100);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2%;
}
form label{
    margin-bottom: 1%;
}
form button{
    width: 10%;
}
.user{
    margin-top: 1%;
    background-color: tan;
    padding: .5% 0;
}